.cont {
  max-width: 1098px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.daily-items {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0 0 0 / 30%);
  color: #fff;
 margin: 5px auto;
}
.a0 {
  background-color: #202020;
}
.a1 {
  background-color: #333;
}
.a2 {
  background-color: #202020;
}
.a3 {
  background-color: #333;
}
.a4 {
  background-color: #202020;
}
.a5 {
  background-color: #333;
}
.a6 {
  background-color: #202020;
  
}
.day {
  margin: 0;
  font-weight: 600;
  line-height: 1;
}
.first {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  align-items: center;
}
.descriptions {
  font-size: 13px;
  margin: 0;
  line-height: 1;
}
.min-max {
  display: flex;
  margin: 0;
  font-weight: 700;
}

.icon-small {
 display: flex;
  width: 30px;
}
